In [1]:
import os
import glob

In [455]:
path = r"C:\Users\Gowtham\Desktop\Work\Workbench\Projects\Amazon - ML\Dataset\dataset\train"
os.chdir(path)
import pandas as pd

In [456]:
#creating a df 
def creating_df(data):
    df = pd.DataFrame(data, columns=['ID', 'Delivery_person_ID', 'Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude', 'Order_Date', 'Time_Orderd', 'Time_Order_picked','Weather conditions','Road_traffic_density','Vehicle_condition', 'Type_of_order','Type_of_vehicle','multiple_deliveries','Festival','City','Time_taken (min)'])
    print(df[df.columns[1:3]])

In [457]:
#Read a text file and preparing data for visualizing 
def read_text_file(file_path):
    with open(file_path, 'r') as f:
        string = f.read()
        #splitting line by line
        string = string.splitlines()
        lst = []
        for t in string :
            line = t.split() #splitting words from each line
            if line[1] == '(min)' or line[1] == 'conditions' :
                    lst.append(line[2])
            else:
                lst.append(line[1])
                
        del lst[-1] #deleting a unnecessary value 
        return lst # returning the list containing values only to create a data frame
        print("\t")

In [460]:
count = 1 
final_list = []
for file in sorted(os.listdir(path)):
    # Check whether file is in text format or not
    if count == 5000: #number of files to process initally 
        count = 1 
        break
    if file.endswith(".txt"):
        file_path = f"{path}\{file}"
        
#         call read text file function
        final_list.append(read_text_file(file_path))
    count = count + 1 
    
    
df = pd.DataFrame(final_list, columns=['ID', 'Delivery_person_ID', 'Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude', 'Order_Date', 'Time_Orderd', 'Time_Order_picked','Weather conditions','Road_traffic_density','Vehicle_condition', 'Type_of_order','Type_of_vehicle','multiple_deliveries','Festival','City','Time_taken (min)'])

In [461]:
# df.sort_values(by ='Delivery_person_Age', ascending = 1).head(20)
df.describe()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
count,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999
unique,4999,1166,58,52,436,409,2607,2607,44,177,193,7,5,4,4,4,13,3,4,113
top,0x4607,COIMBRES06DEL01,25.000000,4.800000,0.00,0.00,0.08,0.08,28-03-2022,NaN,22:40,Fog,Low,0,Meal,motorcycle,1.000000,No,Metropolitian,29.000000
freq,1,16,245,728,414,419,49,49,142,197,62,858,1702,1666,1285,2932,2823,4866,3740,221

In [468]:
df[0:100].sort_values(by='Road_traffic_density',ascending=False)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
74,0xa9f,BANGRES13DEL01,NaN,NaN,12.935662,77.614130,12.975662,77.654130,11-03-2022,NaN,15:30,NaN,NaN,1,Drinks,scooter,0.000000,No,Metropolitian,19.000000
50,0x5554,RANCHIRES15DEL01,31.000000,4.900000,23.369746,85.339820,23.409746,85.379820,03-04-2022,15:10,15:15,Fog,Medium,1,Snack,motorcycle,1.000000,No,Metropolitian,16.000000
55,0x272d,COIMBRES07DEL03,24.000000,4.700000,10.961850,76.971082,11.051850,77.061082,10-03-2022,17:55,17:60,Sunny,Medium,0,Buffet,motorcycle,0.000000,No,Urban,19.000000
71,0xbbde,SURRES01DEL01,32.000000,4.600000,21.186438,72.794115,21.226438,72.834115,15-03-2022,15:30,15:45,Fog,Medium,1,Meal,scooter,0.000000,No,Metropolitian,17.000000
94,0x35e6,JAPRES15DEL03,36.000000,4.800000,26.891191,75.802083,26.981191,75.892083,14-03-2022,17:50,17:55,Sunny,Medium,2,Buffet,electric_scooter,0.000000,No,Metropolitian,15.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,0x539b,MUMRES02DEL01,25.000000,4.000000,19.221315,72.862381,19.261315,72.902381,26-03-2022,12:25,12:30,Cloudy,High,1,Buffet,motorcycle,1.000000,No,Metropolitian,34.000000
15,0x3aab,MYSRES01DEL01,35.000000,4.000000,12.311072,76.654878,12.351072,76.694878,01-03-2022,14:55,15:10,Windy,High,1,Meal,scooter,1.000000,No,Metropolitian,33.000000
10,0xd987,KOCRES16DEL01,21.000000,4.700000,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.000000,No,Metropolitian,23.000000
4,0x70a2,CHENRES12DEL01,32.000000,4.600000,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,13:45,Cloudy,High,1,Snack,scooter,1.000000,No,Metropolitian,30.000000
99,0x1236,MYSRES07DEL01,36.000000,4.400000,12.325461,76.632278,12.365461,76.672278,13-03-2022,12:40,12:55,Cloudy,High,2,Meal,scooter,1.000000,No,Metropolitian,39.000000